.unread0 {
	display: none;
}

.alrim {
	color: white;
    margin: 3px;
    background-color: red;
    border-radius: 50%;
    padding: 4px;
    /* display: block; */
    width: 18px;
    text-align: center;
    float: right;
    margin-top: 15px;
	
}

.container > .btn {
  margin: 60px;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 40px;
}

.modal {
  border: 1px;
  border-color: #ddd;
  background: #fff;
  width: 350px;
  height: 50%;
  margin: 0;
  padding: 0;
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  top: 100%;
  position: fixed;
  right: 2;
  text-align: left;
  background-color: aliceblue;
}
.modal .header {
  padding-left: 20px;
  border-bottom: 1px solid #ddd;
  font: 300 24px Lato;
  position: relative;
}
.modal .chatMiddle {
  padding: 12px;
  font: 300 16px Lato;
  height: 320px;
  overflow: auto;
}

.js-click-modal {
  background: linear-gradient(to right, #dce35b, #45b649);
  padding: 10px 25px;
  display: inline-block;
  border-radius: 25px;
  margin: 10px 0;
  color: #fff;
  position: relative;
  transition: all .4s ease;
  cursor: pointer;
  margin-left: 10px;
}
.js-click-modal1 {
  background: linear-gradient(to right, #acabab, #000000);
  padding: 10px 25px;
  display: inline-block;
  border-radius: 25px;
  margin: 10px 0;
  color: #fff;
  position: relative;
  transition: all .4s ease;
  cursor: pointer;
  margin-left: 10px;
}
.js-click-modal2 {
  background: linear-gradient(to right, #6468ff, #ff6476);
  padding: 10px 25px;
  display: inline-block;
  border-radius: 25px;
  margin: 10px 0;
  color: #fff;
  position: relative;
  transition: all .4s ease;
  cursor: pointer;
  margin-left: 10px;
}
.btn:hover {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);
}

.container.modal-open .modal {
  top: 480px;
  border-radius: 20px;
}
.textarea {
	width: 326px;
	height: 50px;
}
.chatbottom {
	padding: 12px;
}
.right {
	text-align: right;
	margin: 10px;
}
.right > .sender {
	display: none;
} 
.js-close-modal {
  background: linear-gradient(to right, #dce35b, #45b649);
  padding: 10px 25px;
  display: inline-block;
  border-radius: 25px;
  margin: 10px 0;
  color: #fff;
  position: relative;
  transition: all .4s ease;
  cursor: pointer;
}
.right > .message > .msg_content {
	background-color: #ffff64;
	border-radius: 15%;
}
.left > .message > .unread_message {
	display: none;
}
.left > .message > .msg_content {
	background-color: #a5e3ff;
	border-radius: 15%;
}
.left {
	margin: 5px;	
}
.unread_message {
	font-size: 2px;
}

.chatBottom{
	text-align: center;
}
