@charset "UTF-8";

#mycal{
	width: 1600px;
    height: 660px;
    margin: 0;
    display: flex;
}

.calaside{
	width: 270px;
    overflow: auto; 
}

h2{
	margin-bottom: 30px;
	font-size: 22px;
	background-color: #37C3C3;
    color: white;
}

.cell {
	display: table-cell;
	padding: 14px;
	border-bottom: 1px solid #DDD;
}

#table{
	height: 540px;
	width: 1600px;
}

.col1 {
	width: 350px;
}

.col2 {
	width: 700px;
}

.col3 {
	width: 200px;
}
.col4 {
	width: 200px;
}
.col5 {
	width: 150px;
}
#sc_cont_ul_sch{
	width: 1600px;
    height: 660px;
    margin: 0;
    display: inline-block;
    margin-top: 30px;
}
.row1{
	background-color: whitesmoke;
}
.schwritebtn{
	float: right;
    padding-top: 50px;
}